.layui-form{
    margin-top: 40px;
    margin-left: 15%;
}
#fun_title{
    font-size: 229%;
    font-family: 楷体;
    text-align: center;
    margin-top: 2%;

}

#username_pa{
    margin-left: 25%;
    width: 10%;
}

#state_pa{
    width: 10%;
}